.layer1{
    display: flex;
}

.search{
    background-image: url("./assests/svgs/search.svg");
    background-size: cover ;
    width: 40px;
    border-radius: 30%;
}

.btn-primary{
    width: 6rem;
}

.btn-category{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 15px;
}
.btn-category-2{
    justify-content: center;
    align-items: center;
}

.btn-primary{
    margin-top: 10px;
    justify-content: center;
}

@media (max-width: 800px) {
    .btn-category {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .btn-primary{
        /* margin-left: 150px; */
    }
    .btn-category{
        max-width: 200px;
    }
  }