.layer1{
    display: flex;

}

.ftt{
    margin-bottom: 0;
    padding-bottom: 0%;
}

.search{
    background-image: url("./assests/svgs/search.svg");
    background-size: cover ;
    width: 40px;
    border-radius: 30%;
}

.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    gap: 15px;
}

.flex-container >*{

    margin-top: 20px;
}

.catdd {
    margin: 10px;
    font-size: 20px; /* Or any desired font size */
}

.content_box{
    margin-top: 20px;
    width: 75%;
    justify-self: center;
    height: 100vh;
}

.how-to-download{

}

.hh1{
    margin-bottom: 20px;
}

.hh{
    color: tomato;
}

.dcma {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

