.layer1{
    display: flex;
}

.search{
    background-image: url("./assests/svgs/search.svg");
    background-size: cover ;
    width: 40px;
    border-radius: 30%;
}

.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    gap: 15px;
}

.flex-container >*{

    margin-top: 20px;
}